version: 1.4.0.{build}
branches:
  only:
  - master
configuration: Release
platform: Any CPU
build_script:
- cmd: build.cmd
test: off
artifacts:
  - path: 'Artifacts\Packages\*.nupkg'
    name: NFluentPackages