<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="Package source" value="C:\Users\cyrilledupuydauby\source\repos\tpierrain\NFluent\code\src\Analyzer\NFluent.Analyzer\NFluent.Analyzer.Package\bin\Debug" />
  </packageSources>
  <disabledPackageSources>
    <clear />
    <add key="roslyn" value="true" />
    <add key="roslyn-analyzers" value="true" />
  </disabledPackageSources>
</configuration>
