<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
    <title>PropertiesExtensions - NFluent Documentation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
    <link type="text/css" rel="stylesheet" href="../main.css"/>
    <script type="text/javascript" src="../js/jquery-1.3.2.min.js"></script>
    <script type="text/javascript" src="../js/jquery.scrollTo-min.js"></script>
    <script type="text/javascript" src="../js/navigation.js"></script>
    <script type="text/javascript" src="../js/example.js"></script>
  </head>
  <body>
  	<header><h1>NFluent : API Documentation</h1>
	</header>
<nav id="namespaces">
	<h2 class="fixed">Namespaces</h2>
	<div class="scroll">
		<ul>
			<li>
          <a href="NFluent/index.htm" class="current">NFluent</a>
      </li>
		</ul>
	</div>
</nav><nav id="types">
  <h2 class="fixed">Types in NFluent</h2>
	<div class="scroll">
		<ul>
				<li>
            <a href="NFluent/ChainableFluentAssertion`1.htm">ChainableFluentAssertion&lt;T&gt;</a>
        </li>
				<li>
            <a href="NFluent/Check.htm">Check</a>
        </li>
				<li>
            <a href="NFluent/EnumerableExtensions.htm">EnumerableExtensions</a>
        </li>
				<li>
            <a href="NFluent/ExtensionsCommonHelpers.htm">ExtensionsCommonHelpers</a>
        </li>
				<li>
            <a href="NFluent/FluentAssertionException.htm">FluentAssertionException</a>
        </li>
				<li>
            <a href="NFluent/IChainableFluentAssertion`1.htm">IChainableFluentAssertion&lt;T&gt;</a>
        </li>
				<li>
            <a href="NFluent/IEnumerableFluentAssertion.htm">IEnumerableFluentAssertion</a>
        </li>
				<li>
            <a href="NFluent/IEqualityFluentAssertion`1.htm">IEqualityFluentAssertion&lt;T&gt;</a>
        </li>
				<li>
            <a href="NFluent/IFluentAssertion.htm">IFluentAssertion</a>
        </li>
				<li>
            <a href="NFluent/IInstanceTypeFluentAssertion`1.htm">IInstanceTypeFluentAssertion&lt;F&gt;</a>
        </li>
				<li>
            <a href="NFluent/INumberFluentAssertion.htm">INumberFluentAssertion</a>
        </li>
				<li>
            <a href="NFluent/IObjectFluentAssertion.htm">IObjectFluentAssertion</a>
        </li>
				<li>
            <a href="NFluent/IStringFluentAssertion.htm">IStringFluentAssertion</a>
        </li>
				<li>
            <a href="NFluent/NumberFluentAssertion`1.htm">NumberFluentAssertion&lt;N&gt;</a>
        </li>
				<li>
            <a href="NFluent/ObjectFluentAssertion.htm">ObjectFluentAssertion</a>
        </li>
				<li>
            <a href="NFluent/PropertiesExtensions.htm" class="current">PropertiesExtensions</a>
        </li>
		</ul>
	</div>
</nav>
	<article>
    <header>
		<p class="class"><strong>Type</strong> PropertiesExtensions</p>
	</header>
	<section>
		<header>
		<p><strong>Namespace</strong> NFluent</p>
		</header>
    <div class="sub-header">
			<div id="summary">Extension methods for exploiting enumerable content in a fluent manner (i.e. with auto completion support and in an english readable way). 
			</div>
		
		
			<h3 class="section">Methods</h3>
			<ul>
				<li><a href="NFluent/PropertiesExtensions.htm#Properties``1">Properties&lt;T&gt;</a></li>
			</ul>
		
		
	</div>
	
	
	<h3 class="section">Public static methods</h3>

	<div id="Properties``1" class="method">
		<h4>
			<span title="System.Collections.IEnumerable">IEnumerable</span> <strong>Properties&lt;T&gt;</strong>(this <span title="NFluent.T[]">T[]</span> array, <span title="System.string">string</span> propertyName)
		</h4>
		<div class="content">




		</div>
	</div>
	
	</section>
	</article><footer>
	<span id="version">Built from v1.0.0.0 of NFluent</span>
	<span id="docu-link">
		Generated by <a href="http://docu.jagregory.com">docu</a>
	</span>
</footer>
  </body>
</html>